* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;  
}
.headerlogo { 
    display: grid;
    justify-content: space-between;
}
.headerlogo img { 
    width: 30px;
}

header { 
    display: flex;
    width: 100%;
    align-items:center;
    justify-content: space-between;
    padding: 35px;
    margin-right: 50px;
}
body {
    background: black
}
.logo { 
    font-size: 30px;
    font-weight: 700;
    color:white;
    margin-left:120px
    
}
.navlist { 
    display: flex;
    color:white;
    margin-right: 120px;
}
.navlist a {
    color:white;
    margin-left: 120px;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover { 
    border-bottom: 2px solid white;
}


.swiper{
  width: 1000px;
  height: 100%;
}
.swiper-slide{
  text-align: center;
  font-size: 18px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img{
  width: 100%;
  object-fit: cover;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
  right: 140px !important; 
  left: auto;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
  left: 140px !important; 
  right: auto;
}
.swiper{ 
    margin-top: 50px;
}


.news-list li {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
}

.news-list img {
    display: block;
    margin: 0 auto; 
    width: 200px;
    height: auto;
    align-items: center;
}

.news-list .news-content {
    flex: 1;
    margin-left: 30px;
    margin-right: 30px;
}

.news-list a {
    color: white;
    font-weight: 700;
    margin-top: 15px;
    font-size: 16px;
}

.news-list p {
    color: #666;
    font-size: 14px;
    font-weight: 400;
}

.novosti {
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-top: 100px;
    text-align: center;
}

.zagolovok {
    color: white;
    font-weight: 700;
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
}

.news-container {
    display: block;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: space-between;
}

.news-list {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer {
    background-color: #f2f2f2;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
  }
  
  .social-links {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .social-links-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-links-group a {
    display: inline-block;
    margin: 10px 0;
    width: 30px;
    height: 30px;
  }
  
  .social-links img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 .text-footer {
    font-size: 25px;
    font-weight: 400;
    color:black;
    margin-left:50px;
    margin-bottom: 30px
 }
 footer p {
    font-size: 13px;
 }

.info {
    color:white;
    text-align: center;
    margin-top: 120px;
}
.info h2 {
    font-size: 38px;
    font-weight: 600;

}
.info p {
    font-weight: 300;
    font-size: 15px;
    padding-top: 35px;
    margin-left: 300px;
    margin-right: 300px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
  height: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.galereya {
    font-size: 38px;
    font-weight: 600;
    color:white;
    text-align:center;
    margin-bottom: 50px;
}
.news-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .news-list img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .news-content {
    text-align: center;
  }
  
  .news-content h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color:white
  }
  
  .news-content p {
    margin-bottom: 10px;
  }
  
  .news-content a {
    color: blue;
    text-decoration: none;
  }
  
  .archive-list li {
    margin-bottom: 10px;
  }
  
  .archive-list a {
    color: blue;
    text-decoration: none;
  }
  .last-novini {
    font-size: 32px;
    font-weight: 600;
    color:white;
    text-align: center;
    margin-bottom: 100px;
  }
  .novosti {
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .con h3 {
    font-size: 30px;
    color:white;
    font-weight: 600;
    padding-bottom: 30px;
  }
  .con {
    text-align: center;
    margin-top: 100px;
  }
  .con p {
    font-size: 15px;
    color:white;
    font-weight: 400;
  }
.nomer-td {
    font-size: 20px;
    color:grey;
    font-weight: 500;
    text-align: center;
    padding-top: 100px;
}
.map {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}